body {
    background-color: yellow;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    background: darkcyan;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}

.input {
    width: 100%;
    font-size: 20px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 5px 0;
}

.payment {
    font-weight: 600;
    font-size: 20px;
}